.exchange-input {
  width: 95%;
  height: 100px;
}

.rounded {
  border-radius: 20px;
}

.exchanger {
  width: 95%;
  min-height: 60vh;
  max-height: 65vh;
}

.exchange-list {
  width: 95%;
  height: 90%;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
}

.exchange-list-item:hover {
  background-color: #0275d8;
  color: white;
}

@media (min-width: 768px) {
  .exchanger {
    width: 50%;
  }
  .exchange-input {
    width: 50%;
  }
  .exchange-input {
    width: 50%;
  }
}